.content .queue-item-details {
  .left-panel {
    .controls {
      border-bottom: none;
      display: flex;
      flex-direction: column;
      .back-link {
        border-bottom: 1px solid $gray4;
        color: $blue1;
        flex: 1;
        font-size: 14px;
        padding: 0.75rem 1rem;
        text-decoration: none;
        .icon {
          margin-right: 0.5em;
        }
      }
      .tabs {
        .nav-item {
          flex: 1;
          .nav-link {
            border-bottom: 1px solid $gray2;
            color: $blue1;
            font-size: 12px;
            padding: 0;
            text-align: center;
            transition: border-bottom-color 0.5s;
            .inner-wrapper {
              border-bottom: 3px solid rgba(0, 0, 0, 0);
              padding: 0.75rem 1rem;
              transition: border-bottom-color 0.5s;
            }
            &.active {
              border-bottom-color: $blue1;
              .inner-wrapper {
                border-bottom-color: $blue1;
              }
            }
          }
        }
      }
    }

    .details,
    .discussions {
      background-color: $blue4;
      flex: 1;
      display: flex;
      flex-direction: column;
      & .list-group-item {
        background-color: $blue4;
      }
    }

    .general {
      color: $blue1;
      padding: 2rem 2rem 1rem 2rem;

      .status {
        font-size: 10px;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        .icon {
          margin-right: 0.5em;
        }
      }

      h1 {
        font-size: 16px;
      }

      .summary {
        font-size: 11px;
      }

      pre {
        color: $blue1;
        font-size: 11px;
        margin-bottom: 0;
      }
    }

    .request-button {
      margin: 1rem 3rem;
    }

    .subtasks-section {
      margin: 1rem 1rem 1rem 2rem;
      hr {
        border-top-color: $gray4;
        border-top-width: 2px;
        margin: 0;
      }

      h2 {
        align-items: center;
        color: $blue1;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        padding-left: 2rem;
        span {
          padding: 0.75rem 0;
        }
        button {
          margin-left: auto;
        }
      }

      .subtasks {
        .subtask {
          border-bottom: 2px solid $gray4;
          color: $blue1;
          display: flex;
          flex-wrap: nowrap;
          font-size: 13px;
          padding-left: 4rem;
          .handle {
            font-weight: 600;
          }
          .summary {
            flex: 1;
            margin: 0 1em;
          }
          .icon {
            margin-left: auto;
          }
        }
      }

      .empty-subtasks {
        border-radius: 8px;
        background-color: #ffffff;
        font-family: 'Open Sans';
        text-align: center;
        padding: 2em;

        h5 {
          color: #54698d;
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
        }

        h6 {
          color: #a8b7c7;
          font-size: 12px;
          line-height: 24px;
        }
      }
    }

    .timestamps {
      margin: 1rem 0;
      .timestamp {
        font-size: 10px;
        padding: 0.15rem 2rem;
        .label {
          color: $blue2;
          width: 70px;
        }
        .value {
          color: $blue1;
        }
      }
    }
  }

  .discussions {
    display: flex;
    flex-direction: column;
    .messages {
      flex: 1;
      position: relative;
      .message-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 1rem;
        overflow-y: scroll;
      }
      .message {
        color: $blue1;
        display: flex;
        font-size: 11px;
        margin-bottom: 1rem;
        .body {
          margin: 0 1rem;
          p {
            border-radius: 8px;
            padding: 1rem;
            position: relative;
            margin-bottom: 0.4rem;
            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              top: 8px;
              bottom: auto;
              border: 4px solid;
            }
          }
          .meta {
            .author {
              margin-right: 1rem;
            }
            .timestamp {
              color: $blue2;
            }
          }
        }
        &.mine {
          justify-content: flex-end;
          .sb-avatar {
            order: 1;
          }
          p {
            background-color: $blue3;
            &:after {
              left: auto;
              right: -8px;
              border-color: $blue3 transparent transparent $blue3;
            }
          }
          .author {
            font-weight: bold;
          }
        }
        &.other {
          p {
            background-color: white;
            &:after {
              left: -8px;
              right: auto;
              border-color: white white transparent transparent;
            }
          }
        }
      }
      .date {
        align-items: center;
        color: $blue0;
        display: flex;
        font-size: 10px;
        font-weight: bold;
        margin: 1rem 0;
        text-align: center;
        hr {
          border-top: 2px solid $blue3;
          flex: 1;
        }
        span {
          margin: 0 1rem;
        }
      }
    }
    .new-message {
      display: flex;
      // padding: 1rem;

      button {
        height: 48px;
        width: 48px;

        border-radius: 0;

        &.btn-more {
          // background-color: rgba(255, 255, 255, 0.5);
          background-color: #d3dce7;
          opacity: 0.5;
        }

        &.btn-send {
          background-color: #d3dce7;
        }

        &.btn.btn-subtle {
          background-color: $blue3;
          .icon-svg path {
            fill: $blue1;
          }
        }

        &.btn.disabled,
        &.btn:disabled {
          opacity: 1;
        }
      }

      .message-input {
        flex: 1;
        padding-top: 12px;
        padding-left: 12px;
        // border-top: 1px solid #d3dce7;
        // border-bottom: 1px solid #d3dce7;
        background-color: #d3dce7;

        &:focus {
          outline: unset;
        }
      }
    }
  }

  .right-panel {
    .work-grab-button {
      border-radius: 0;
      margin: 5rem 3rem;
      padding: 0.75rem 1rem;
    }
  }
}
