.content .queue-item-details {
  .left-panel {
    .controls {
      border-bottom: none;
      display: flex;
      flex-direction: column;
      .back-link {
        border-bottom: 1px solid $gray4;
        color: $blue1;
        flex: 1;
        font-size: 14px;
        padding: 0.75rem 1rem;
        text-decoration: none;
        .icon {
          margin-right: 0.5em;
        }
      }
      .tabs {
        .nav-item {
          flex: 1;
          .nav-link {
            border-bottom: 1px solid $gray2;
            color: $blue1;
            font-size: 0.75rem;
            line-height: 1.5rem;
            padding: 0;
            text-align: center;
            transition: border-bottom-color 0.5s;
            .inner-wrapper {
              border-bottom: 3px solid rgba(0, 0, 0, 0);
              padding: 0.625rem 0.75rem 0.625rem;
              transition: border-bottom-color 0.5s;
            }
            &.active {
              border-bottom-color: $blue1;
              .inner-wrapper {
                border-bottom-color: $blue1;
              }
            }
          }
        }
      }
    }

    .details,
    .discussions {
      background-color: $blue4;
      flex: 1;
      display: flex;
      flex-direction: column;
      & .list-group-item {
        background-color: $blue4;
      }
    }

    .general {
      color: $blue1;
      padding: 1.5rem;

      .status {
        text-transform: uppercase;
        font-size: 0.6875rem;
        margin: 0;
        line-height: 1.4375rem;
        .icon-svg {
          margin-right: 3px;
          height: .5rem;
          width: .5rem;
          path {
            fill: $blue1;
          }
        }
      }

      h1 {
        color: #222222;
        margin: 0;
        line-height: 3rem;
      }

      .summary {
        @include ms-respond(font-size, -1);
        line-height: 1.5rem;
        // margin-bottom: 0;
        color: #222;
      }

      pre {
        color: $blue1;
        @include ms-respond(font-size, -2);
        line-height: 1.5rem;
        margin-bottom: 0;
      }
    }

    .request-button {
      display: block;
    }

    .subtasks-section {
      margin: 1.5rem;
      h2 {
        align-items: center;
        color: $blue1;
        display: flex;
        @include ms-respond(font-size, 0);
        line-height: 2.125rem;
        font-weight: 600;
        padding-left: .875rem;
        margin: 0;
        border-top: 2px solid $gray4;
        button {
          margin-left: auto;
        }
      }

      .subtasks {
        .subtask {
          border-bottom: 2px solid $gray4;
          font-size: .75rem;
          padding-left: 4rem;
          a {
            color: $blue1;
            text-decoration: none;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
          }
          .handle {
            font-weight: 600;
          }
          .summary {
            flex: 1;
            margin: 0 1em;
          }
          .icon {
            margin-left: auto;
          }
        }
      }

      .empty-subtasks {
        border-radius: .5rem;
        background-color: $white;
        font-family: 'Open Sans';
        text-align: center;
        padding: 1.5em;
        h5 {
          color: $blue1;
          font-size: 14px;
          @include ms-respond(font-size, 2);
          font-weight: 600;
          line-height: 1.5rem;
        }

        h6 {
          color: $blue2;
          @include ms-respond(font-size, -1);
          line-height: 1.5rem;
        }
      }
    }

    .timestamps {
      margin: 1.5rem 0 0;
      .timestamp {
        @include ms-respond(font-size, -1);
        line-height: 1.5rem;
        padding: 0 2rem;
        .label {
          color: $blue2;
          width: 70px;
        }
        .value {
          color: $blue1;
        }
      }
    }
  }

  .discussions {
    display: flex;
    flex-direction: column;
    .messages {
      flex: 1;
      position: relative;
      .message-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 1rem;
        overflow-y: scroll;
      }
      .messages-group {
        display: flex;
        margin-bottom: 1rem;
        .sb-avatar {
          margin: 0 0.5rem 0 0;
        }
        .message-list {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: $blue1;
          font-size: 11px;
          .message {
            background-color: white;
            border-radius: 8px;
            margin-bottom: 0.5rem;
            padding: 1rem;
            position: relative;
            margin-bottom: 0.4rem;
            white-space: pre-wrap;
            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              top: 8px;
              bottom: auto;
              border: 4px solid;
            }
          }
          .meta {
            .author {
              margin-right: 1rem;
            }
            .timestamp {
              color: $blue2;
            }
          }
        }
        &.mine {
          .message-list {
            align-items: flex-end;
            .message {
              background-color: $blue3;
              &:after {
                left: auto;
                right: -8px;
                border-color: $blue3 transparent transparent $blue3;
              }
            }
          }
        }
        &.other {
          .message-list {
            .message {
              &:after {
                left: -8px;
                right: auto;
                border-color: white white transparent transparent;
              }
            }
          }
        }
      }
      .date {
        align-items: center;
        color: $blue0;
        display: flex;
        font-size: 10px;
        font-weight: bold;
        margin: 1rem 0;
        text-align: center;
        hr {
          border-top: 2px solid $blue3;
          flex: 1;
        }
        span {
          margin: 0 1rem;
        }
      }
      button.more-messages {
        position: absolute;
        bottom: 20px;
        width: 180px;
        left: 50%;
        margin-left: -90px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        .icon {
          margin-left: 10px;
          path {
            fill: white;
          }
        }
      }
    }

    .load-more-messages {
      border-radius: 8px;
      background-color: #d3dce7;

      font-family: 'Open Sans';
      text-align: center;
      padding: 1em;

      h5 {
        color: #54698d;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
      }

      h6 {
        color: #a8b7c7;
        font-size: 12px;
        line-height: 24px;
      }
    }
    .new-message {
      display: flex;
      min-height: 48px;

      button {
        // height: 48px;
        width: 48px;

        border-radius: 0;

        &.btn-more {
          background-color: #d3dce7;
          opacity: 0.5;
        }

        &.btn-send {
          background-color: #d3dce7;
          cursor: pointer;
          &:disabled {
            cursor: not-allowed;
          }
        }

        &.btn.btn-subtle {
          background-color: $blue3;
          .icon-svg path {
            fill: $blue1;
          }
        }

        &.btn.disabled,
        &.btn:disabled {
          opacity: 1;
        }
      }

      .input-container {
        flex: 1;
        padding: 12px;
        background-color: #d3dce7;
        .placeholder {
          color: #a8b7c7;
          position: absolute;
          pointer-events: none;
          &.hidden {
            display: none;
          }
        }
      }
      .message-input {
        max-height: 48px;
        overflow-y: scroll;
        overflow-wrap: break-word;
        color: #54698d;

        &:focus {
          outline: unset;
        }
      }
    }
  }

  .right-panel {
    .work-grab-button {
      border-radius: 0;
      margin: 1.5rem;
      padding: 0.75rem 1rem;
    }
  }
}
