.sidebar-content {
  background-color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  padding: 20px 0;

  h6 {
    color: rgb(183, 196, 209);
    font-size: 12px;
    font-weight: 600;
    padding: 0 25px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
  }

  .btn {
    font-size: 14px;
    margin: 0 25px;
    &.btn-primary {
      background-color: rgb(168, 183, 198);
      border-color: rgb(168, 183, 198);
    }
  }

  .nav-link {
    color: rgb(183, 196, 209);
  }

  .filter-nav {
    margin-top: 10px;
    .nav-link {
      border-left: 3px solid white;
      font-size: 15px;
      font-weight: 400;
      margin: 5px 0;
      padding: 2.5px 25px 2.5px 22px;
      .icon {
        display: inline-block;
        width: 35px;
      }
      &.active {
        border-left-color: rgb(85, 106, 140);
        color: rgb(85, 106, 140);
        .icon-svg, path {
          fill: rgb(85, 106, 140);
        }
      }
    }
  }

  .bottom-nav {
    margin-top: 2.5px;
    .nav-link {
      border-bottom: 1px solid rgb(242, 244, 246);
      font-size: 12px;
      font-weight: 600;
      padding: 15px 25px;
      text-transform: uppercase;
    }
  }
}
