$header-height: 49px;
$page-height: calc(100vh - 49px);

$transparent-gray1: rgba(51, 51, 51, 0.15);
$gray2: rgba(213, 213, 213, 1);
$gray3: rgba(223, 226, 229, 1);
$gray4: rgba(236, 236, 236, 1);

$blue0: rgba(0, 59, 114, 1);
$blue1: rgba(84, 105, 141, 1);
$blue2: rgba(168, 183, 199, 1);
$blue3: rgba(211, 220, 231, 1);
$blue4: rgba(247, 249, 251, 1);
