.navbar {
  padding: 0;
}

.nav.nav-header {
  justify-content: space-between;
}

.nav.nav-header > .nav-item-right {
  margin-left: auto;
}

.navbar .nav-link {
  font-size: 16px;
  color: rgb(102, 125, 159);
  padding: 0.75em 1em;
}

.navbar .drawer-button {
  border-right: 1px solid rgb(213, 213, 213);
}

.dropdown-toggle::after {
  border-top: 0.4em solid rgb(168, 183, 199);
  border-right: 0.19em solid transparent;
  border-left: 0.19em solid transparent;;
}

.content {
  /* will vary based on the .navigation a properties above */
  margin-top: 48px;
}

.icon-svg {
  height: 1.2em;
  vertical-align: text-top;

  path {
    fill: rgb(168, 183, 199);
  }
}

@import 'sidebar';
