@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  padding: 0;
}

.nav.nav-header {
  justify-content: space-between;
}

.nav.nav-header > .nav-item-right {
  margin-left: auto;
}

.navbar .nav-link {
  font-size: 16px;
  color: $blue2;
  padding: 0.75em 1em;
}

.navbar .drawer-button {
  border-right: 1px solid $transparent-gray1;
}

.dropdown-toggle::after {
  border-top: 0.4em solid $blue2;
  border-right: 0.19em solid transparent;
  border-left: 0.19em solid transparent;;
}

.icon-svg {
  height: 1.4em;
  vertical-align: text-top;

  path {
    fill: $blue2;
  }
}

.list-group-item {
  border: none;
  margin-bottom: 0;
  &:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  &:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@import 'sidebar';
@import 'content';
